.navbar-brand {
  color: #092557;
  font-family: PulpDisplay-SemiBold;
  font-size: xx-large;
  font-weight: normal;
  padding-left: 3%;
}

#navbar-title {
  color: #092557;
  font-family: PulpDisplay-SemiBold;
  font-size: xx-large;
}

#navbar-home,
#navbar-login,
#navbar-signup {
  color: #092557;
}

.jumbotron {
  background:
    -webkit-linear-gradient(left, #5537ED, #23D9D9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
}

#add-coins-table {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  background-repeat: no-repeat;
}

th:first-child {
  border-top-left-radius:15px;
}

th:last-child {
  border-top-right-radius:15px;
  border-right:none;
}

.form-control {
  margin: auto;
  float: none;
}

.form-inline {
  padding-right: 0;
  padding-left: 0;
}

.form-group {
  margin: auto;
}

.close {
  margin: auto;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
